<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-57-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-114-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-72-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-144-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-64-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-120-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-72-238538.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-152-238538.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-32-238538.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/coffee-cup-silhouette-optimized-16-238538.png" sizes="16x16" />

<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="coffee-cup-silhouette-optimized-144-238538.png" />
<meta name="msapplication-square70x70logo" content="coffee-cup-silhouette-optimized-72-238538.png" />
<meta name="msapplication-square150x150logo" content="coffee-cup-silhouette-optimized-152-238538.png" />
<meta name="msapplication-square310x310logo" content="coffee-cup-silhouette-optimized-512-238538.png />
